Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# hide files and folders
RedirectMatch 404 /vendor
RedirectMatch 404 /\.git
RedirectMatch 404 /composer\.

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php